<%= link_to "Создать напоминание", new_reminder_path, class: "underline text-blue-500" %>

<%= month_calendar(events: reminders) do |date, reminders| %>
  <%= date.day %>

  <div class="flex flex-col">
    <% reminders.each do |reminder| %>
      <%= link_to reminder.reminder_time.strftime("%H:%M"),
        reminder_path(reminder),
        class: "underline text-blue-500 w-max mx-auto"
      %>
    <% end %>
  </div>
<% end %>
